table.imagetable {
    font-family: verdana,arial,sans-serif;
    width:100%;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('./images/cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.imagetable th.top {
	background:#CCCCCC;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.imagetable td.odd {
	background:#FFFFFF;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}

table.imagetable td.even {
	background:#F9F9F9;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}

table.imagetable td.blank {
	background:#FFFFFF;
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	border-color: #FFFFFF;
}

table.imagetable td.yellow{
	background:#FFCC00;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}
	
table.imagetable td.red{
	background:#C00000;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}

table.imagetable td.green{
	background:#92D050;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td.yellowish{
	background:#BF8F00;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td.yellow{
    background:#FFFF00;
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: #999999;
}

table.imagetable td.black{
	background:#040302;
	color:#FFFFCC;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td.pink{
	background:#FF6666;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}


